<IfModule mod_url.c>
    checkURL On
    ServerEncoding EUC-KR
    ClientEncoding UTF-8
    RewriteEngine On
    AddType application/xml .xml
  RewriteBase /
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /index.html [L]
</IfModule>
php_flag register_globals on
php_flag register_long_arrays on